PORT=5002
MONGO_URI=mongodb://localhost:27017
JWT_SEC=your_jwt_secret_here
UTILS_SERVICE=http://localhost:5005
REALTIME_SERVICE=http://localhost:5006
RIDER_SERVICE=http://localhost:5003
INTERNAL_SERVICE_KEY=your_internal_service_key_here
RABBITMQ_URL=amqp://admin:admin123@localhost:5672
PAYMENT_QUEUE=payment_event
RIDER_QUEUE=rider_queue
ORDER_READY_QUEUE=order_ready_queue
FRONTEND_URL=http://localhost:5173
ANTHROPIC_API_KEY=your_anthropic_api_key_here
